In [1]:
import pandas as pd
import numpy as np
from datetime import date

In [2]:
df= pd.read_csv("clean_NY_Housing_data.csv")
df.head()

             TYPE   PRICE  BEDS  BATH  PROPERTYSQFT         LOCALITY
0  Co-op for sale  440000     2     1           978     Kings County
1  Co-op for sale  375000     2     1           850     Bronx County
2  Condo for sale  549000     2     2          1000  Richmond County
3  Co-op for sale  199000     3     1           325     Kings County
4  Co-op for sale  350000     1     1           700     Bronx County

In [3]:
df_scaled= df.copy()
col_names= ['PRICE','BEDS', 'BATH','PROPERTYSQFT']
features= df_scaled[col_names]

In [11]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\sarah\anaconda3\envs\myenv\lib\site-packages (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\sarah\anaconda3\envs\myenv\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.6.0 in c:\users\sarah\anaconda3\envs\myenv\lib\site-packages (from scikit-learn) (1.14.0)
Requirement already satisfied: joblib>=1.2.0 in c:\users\sarah\anaconda3\envs\myenv\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\sarah\anaconda3\envs\myenv\lib\site-packages (from scikit-learn) (3.5.0)

In [13]:
from sklearn.preprocesing import StandardScaler
scaler= StandardScaler()

df_scaled[col_names]= scaler.fit_transform(features.values)
df_scaled

ImportError: cannot import name 'StandardScaler' from 'sklearn' (C:\Users\Sarah\anaconda3\envs\myenv\Lib\site-packages\sklearn\__init__.py)